p {
    font-size: 15px;
  }
  a:link {
    color: #0099ff;
  }
  a:hover {
    color: #ce1b1b;
  }
  a:visited {
    color: #9944dd;
  }
  .important {
    color: #ce1b1b;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
  }
  h1 {
    color: aqua;
    text-align: center;
    text-shadow: 0px 0px 15px aqua;
    
  }
.rounded {
  border-radius: 30px;
  background-color: black;
}
  h2 {
    text-decoration: underline;
  }
  .sign {
    color: white;
    font-style: italic;
    text-align: right;
  }
  nav {
    text-align: center;
  }
  body {
    background-color: #333333;
    color: #dddddd;
    margin-left: 15%;
    margin-right: 15%;
  }