* {
  margin: 0;
  padding: 0;
}

:root {
  --theme-menu-icon-color: black;
  --theme-menu-bg-color: white;
  --theme-footer-bg-color: white;
  --theme-main-title-bg-color: white;
  --theme-hr-color: black;
  --theme-a-visited-color: #005090;
  --theme-a-hover-color: #700b0b;
  --theme-color: #222222;
  --theme-bg-color: #dddddd;
  --theme-important-color: #c77878;
  --theme-lines-color: black;

  --theme-dark-menu-icon-color: white;
  --theme-dark-menu-bg-color: black;
  --theme-dark-footer-bg-color: black;
  --theme-dark-main-title-bg-color: black;
  --theme-dark-color: #dddddd;
  --theme-dark-bg-color: #222222;
}
/* Light - dark mode switch section start */

body:has(header > span > #themeSwitch:checked) {
  background-color: var(--theme-dark-bg-color);
  color: var(--theme-dark-color);
  color-scheme: dark;
}

header:has(span > #themeSwitch:checked) {
  background-color: var(--theme-dark-main-title-bg-color);
  color: var(--theme-dark-color);
}

header:has(span > #themeSwitch:checked) ~ .design-menu {
  background-color: var(--theme-dark-menu-bg-color);
  color: var(--theme-dark-color);
}

header:has(span > #themeSwitch:checked) ~ .design-menu > nav > ul {
  color: var(--theme-dark-menu-icon-color);
}

header:has(span > #themeSwitch:checked) ~ footer {
  color: var(--theme-dark-color);
  background-color: var(--theme-dark-footer-bg-color);
}

header:has(span > #themeSwitch:checked) ~ .wrapper-image-form > img {
  border-color: var(--theme-dark-color);
}

/* Light - dark mode switch section end */

.not-compatible-size {
  visibility: hidden;
  position: absolute;
  font-weight: bold;
}

/* nagy méret 1080px felett */

@media screen and (min-width: 1080px) {
  p {
    margin-right: 4px;
  }
  header:has(span > #themeSwitch:checked) ~ .design-menu {
    background-color: var(--theme-dark-bg-color);
  }
  .margin-right-media-changed {
    margin-right: 200px;
  }

  .wrapper-image-form {
    display: flex;
    gap: 1em;
    flex-direction: row;
    margin-top: 1em;
    justify-content: space-evenly;
    align-items: center;
  }

  .design-menu {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 200px;
    height: 200px;
    position: sticky;
    top: 55px;
    left: 100%;
    background: var(--theme-menu-bg-color) url(box01.svg) no-repeat;
    background-size: cover;
    border-radius: 5px;
  }
  footer {
    background-color: var(--theme-footer-bg-color);
  }

  ul {
    list-style-type: disclosure-closed;
    list-style-position: outside;
    padding-left: 17px;
    height: 147px;
    color: var(--theme-menu-icon-color);
    text-transform: uppercase;
  }

  li {
    font-weight: bold;
    line-height: 16px;
    font-size: 10pt;
  }
  .li-style-down {
    list-style-type: disclosure-open;
  }

  .margin-pullback {
    margin-top: -205px;
  }

  nav {
    text-align: left;
    padding: 26px;
  }
}

.image-container {
  display: flex;
  justify-content: space-evenly;
}

/* kicsi 1079px alatti képméret */
@media screen and (max-width: 1079px) {
  .margin-right-media-changed {
    margin-right: 0px;
  }

  .wrapper-image-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;
  }

  .design-menu {
    margin-top: 2px;
    border-style: solid;
    position: sticky;
    background-color: var(--theme-menu-bg-color);
    top: 0px;
    padding: 2px;
    box-shadow: 0 2px 4px 0 rgba(182, 182, 182, 0.5);
  }

  ul {
    list-style-type: none;
    max-height: 56px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
  }

  li {
    font-weight: bold;
    line-height: 1.1em;
    font-size: 1em;
    padding: 10px 4px;
    text-align: center;
  }

  .margin-pullback {
    margin-top: -20px;
  }

  nav {
    text-align: left;
    padding: 0;
  }

  .vertical-line {
    visibility: hidden;
  }

  .image-container {
    display: flex;
    justify-content: space-evenly;
  }
  #olvasasi-ido {
    margin-top: 2em;
    font-size: small;
  }
}

@media screen and (max-width: 680px) {
  ul {
    max-height: none;
    flex-direction: column;
  }

  li {
    padding: 0;
  }
}

@media screen and (max-width: 359px) {
  * {
    visibility: hidden;
  }

  .not-compatible-size {
    visibility: visible;
  }
}

hr {
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-right: 200px;
  border: none;
  border-top: 2px solid var(--theme-hr-color);
}

p {
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
  line-height: 120%;
  margin-block-start: 20px;
  margin-block-end: 0px;
}

a:link,
a:visited {
  color: var(--theme-a-visited-color);
}

a:hover {
  color: var(--theme-a-hover-color);
  text-decoration: none;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

h1 {
  text-align: center;
  white-space: nowrap;
}

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-decoration: underline;
}

h3 {
  margin-top: 15px;
}

h4 {
  font-family: monospace;
  font-size: 15px;
  text-align: center;
}

.sign {
  font-style: italic;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}

body {
  background-color: var(--theme-bg-color);
  color: var(--theme-color);
  margin-left: 10px;
  margin-right: 10px;
  color-scheme: light;
}

form > div {
  margin-right: 0px;
  margin-top: 6px;
  margin-bottom: 6px;
  display: flex;
}

div > input {
  width: 220px;
}

form label {
  display: inline-block;
  width: 60px;
}

button {
  height: 30px;
  width: 120px;
  margin-left: 90px;
}

.design-form-images {
  margin: auto;
  border: solid var(--theme-color) 4px;
}

.invert-background-color {
  backdrop-filter: invert(1);
}

.invert-color {
  filter: invert(1);
}

.transition-hover:hover {
  transition: 0.8s;
  transition-timing-function: ease-in-out;
}

.important {
  color: var(--theme-important-color);
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.5em;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}

.no-margin-right {
  margin-right: 0px;
}

.design-main-title {
  border-radius: 10px;
  background-color: var(--theme-main-title-bg-color);
  border: solid;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.design-form {
  border: solid 2px;
  border-radius: 5px;
  width: 300px;
  height: 210px;
  padding: 5px;
  white-space: nowrap;
}

.design-textarea {
  width: 220px;
  height: 3em;
  resize: none;
}

.vertical-line {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 182px;
  right: 18px;
  border-left: 10px double var(--theme-lines-color);
  border-right: 10px double var(--theme-lines-color);
  z-index: -20;
}

.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.design-dark-mode-switch {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 10px;
}

.big-checkbox {
  transform: scale(1.5);
  margin: 8px;
}

.width-125px {
  width: 125px;
}
.max-height-1_5em {
  max-height: 1.5em;
}
.max-height-2em {
  max-height: 2em;
}
.floating-ph {
  opacity: 0.9;
  color: #495057;
}
.w-92 {
  width: 92% !important;
}
.w-90 {
  width: 90% !important;
}
.w-7em {
  width: 7em;
}
.hr-hide {
  border: none;
}

#olvasasi-ido {
  text-align: center;
}

.searchLabel-style {
  align-self: center;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

input::placeholder {
  font-style: italic;
}
